@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	font-family: 'Inter', sans-serif;
	background-color: #141419;
	overflow-x: hidden;
}

label {
	cursor: pointer;
}

.container {
	width: 100%;
	height: auto;
}

.wrapper {
	max-width: 700px;
	margin: 0 auto;
}

.header {
	width: 100%;
	position: relative;
	padding: 60px 10px 0;
	border-bottom: 2px solid #575767;
}

.header__title {
	font-size: 36px;
	font-weight: bold;
	color: #DADADA;
	margin-bottom: 10px;
}

.header__counter.counter {
	margin-bottom: 15px;
	font-weight: 600;
	font-size: 14px;
	color: #575767;
}

.main {
	width: 100%;
	padding: 15px 10px 40px;
}

.list {
	width: 100%;
}

.list__incomplete.incomplete {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.list__completed.completed {
	width: 100%;
	height: auto;
}

.incomplete__title,
.completed__title {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 20px;
}

.incomplete__title {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.incomplete__button {
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 30px;
	background: linear-gradient(to top, #3F4EA0 0%, #473FA0 100%);
	margin: 0;
	padding: 4px 5px 4px;
	cursor: pointer;
}

.incomplete__list,
.completed__list {
	padding-left: 10px;
}

.incomplete__list-item,
.completed__list-item {
	margin-bottom: 15px;
}

.checkbox {
	opacity: 0;
	visibility: hidden;
	margin-right: 10px;
}

.checkbox-block {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 6px;
	border: 1px solid #141419;
	background-color: #2B2D37;
}

.check__icon {
	position: absolute;
	top: 1px;
	left: 2px;
	color: #DADADA;
}

.checkbox-block.inc .check__icon {
	visibility: hidden;
	opacity: 0;
}
.checkbox-block.com .check__icon {
	visibility: visible;
	opacity: 1;
}

.incomplete__todo-task {
	font-weight: 500;
	font-size: 18px;
	color: #dadada;
	margin-left: 10px;
}

.incomplete__todo-type {
	display: block;
	font-weight: 600;
	font-size: 14px;
	color: #575767;
	margin:  1px 0 0 31px;
}

.completed__todo-task {
	color: #575767;
	font-weight: 500;
	font-size: 18px;
}

.add-task {
	width: 100%;
	height: 100%;
	position: relative;
}

.add-task__blocker {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #3b3b3b67;
	transform: scale(0);
	transition: transform 0.3s ease-in-out;
}

.add-task__wrapper {
	width: 100%;
	position: relative;
}

.add-task__form.fill-form {
	width: 54%;
	height: auto;
	position: fixed;
	top: -20rem;
	left: 20rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px 40px;
	border-radius: 30px;
	background: linear-gradient(to top, #3F4EA0 0%, #473FA0 100%);
	visibility: hidden;
	transition: all 0.4s ease-in-out;
}

.fill-form__title {
	font-size: 36px;
	color: #f1f1f1;
	padding: 20px 0;
}

.fill-form__form {
	width: 96%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px 0 30px;
}

.fill-form__gap-block {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.labels {
	font-size: 20px;
	font-weight: bold;
	color: #f1f1f1;
}

.labels:last-child {
	margin-left: 40px;
}

.labels__item {
	margin-bottom: 10px;
}

.fill-form__task-name.input,
.fill-form__task-type.input {
	width: 280px;
	height: 40px;
	outline: none;
	border: 2px solid #473FA0;
	border-radius: 10px;
	padding: 10px 15px;
	font-size: 16px;
	background-color: #141419;
	color: #f1f1f1;
}

.fill-form__task-name.input::placeholder,
.fill-form__task-type.input::placeholder {
	color: #c2c2c2;
}

.fill-form__button-block {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fill-form__btn.btn {
	padding: 12px 20px;
	outline: none;
	border: 1px solid #473FA0;
	border-radius: 10px;
	background-color: #f1f1f1;
	color: #141419;
	font-weight: 600;
	font-size: 16px;
	cursor: pointer;
}

.fill-form__btn.btn:last-child {
	margin-left: 20rem;
	background-color: #141419;
	color: #f1f1f1;
}